<footer>
    <ul id="contacts-list">
        <li class="li-inline">
            <h2>Contact</h2>
            <ul>
                <li><a href="mailto:corentin.sueur@outlook.com">E-Mail</a></li>
                <li><a href="">Adresse postale</a></li>
            </ul>

        </li>

        <li class="li-inline">

            <h2>Nos réseaux</h2>
            <ul>
                <li>
                    <a href="">
                        <img src="../../assets/img/linkedin.svg" alt="linkedin" class="logo-ext">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../../assets/img/instagram.svg" alt="facebook" class="logo-ext">
                    </a>
                </li>
            </ul>
        </li>


    </ul>

    <p id="copyright">Copyright petit c 2020 Linko</p>
</footer>