footer {
  background-image: linear-gradient(to right, #22427c, #26c4ec);
  font-size: 20px;
}

#contacts-list {
  display: flex;
  justify-content: space-evenly;
}

ul {
  padding: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
}

.li-inline li {
  margin: 10px 20px;
}

#reseaux li {
  display: inline-block;
  font-size: 40px;
}

#reseaux li:hover {
  color: grey;
}

.logo-ext {
  width: 50px;
  display: inline-block;
}

a:any-link {
  text-decoration: initial;
  color: inherit;
}

#copyright {
  display: inline-block;
  font-size: small;
  color: rgb(109, 126, 202);
  width: 100%;
  text-align: center;
  color: black;
}
