footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
  color: white;
  /* margin-bottom: 300px; */
  font-size: 20px;
}

#contacts-list {
  padding: 20px 0;
  margin: initial;
  /* mais wtf elle sort d'ou cette marge */
  display: flex;
  justify-content: space-evenly;

}

h2 {
  color: black;
}

ul {
  padding: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
}

.li-inline li {
  margin: 10px 20px;
}

#reseaux li {
  display: inline-block;
}

.logo-ext {
  width: 50px;
  display: inline-block;
}

a:any-link {
  text-decoration: initial;
  color: inherit;
}


#copyright {
  display: inline-block;
  margin: 10px 20%;
  font-size: small;
  color: rgb(109, 126, 202);
}
