.bureau{
    flex-wrap: wrap;
    width : 100%;
    border: 1px black none;
}

.entreprises{
    width : 100%;
    flex-wrap: wrap;
    margin : auto;
    border: 1px black none;
}

.comm{
    flex-wrap: wrap;
    width : 100%;
    margin : auto;
    border: 1px black none;
}

.personnel{
    width: 250px;
    text-align: center;
}

.personnel img{
width: 200px;
}