<h1>Linko : La Junior Entreprise de Polytech Grenoble</h1>

<div class="admin-team green">
    <div class="wrapper">
        <h2>Présentation des membres de l'organisation</h2>
        <div class="flex">
            <div class="personnel">
                <img src="../../assets/img/photo_profil/Corentin.JPG" alt=Photo_de_Corentin />
                <p>
                    <strong>Corentin Sueur</strong><br>
                    Président
                    <br />
                    Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_profil/Kevin.JPG" alt=Photo_de_Kevin />
                <p>
                    <strong>Kévin Cosotti</strong><br>
                    Trésorier
                    <br />
                    Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_profil/Killian.JPG" alt=Photo_de_Killian />
                <p>
                    <strong>Killian Pareilleux</strong><br>
                    Secrétaire
                    <br />
                    Filière : Informatique
                </p>
            </div>

            <div class="personnel">
                <img src="../../assets/img/photo_profil/Alexis.JPG" alt=Photo_de_Alexis />
                <p>
                    <strong>Alexis Lanquetin</strong>
                    Chargé d'affaires
                    <br /> Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_profil/Jules.JPG" alt=Photo_de_Jules />
                <p>
                    <strong>Jules Gonzalez</strong><br>
                    Responsable Qualité
                    <br />
                    Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_profil/bertrand.JPG" alt=Photo_de_Bertrand />
                <p>
                    <strong>Bertrand Baudeur</strong><br>
                    Responsable développement commercial
                    <br />
                    Filière : Informatique
                </p>
            </div>


            <div class="personnel">
                <img src="../../assets/img/photo_profil/Yael.JPG" alt=Photo_de_Yael />
                <p>
                    <strong>Yael Para</strong><br>
                    Responsable communication
                    <br />
                    Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_profil/Maelle.JPG" alt=Photo_de_Maelle />
                <p>
                    <strong>Maelle Martinet</strong><br>
                    Vice-présidente
                    <br />
                    Filière : Technologies de l'Information pour la Santé
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_thomas.jpg" alt=Photo_de_Thomas />
                <p>
                    <strong>Thomas Buton</strong><br>
                    Responsable Informatique
                    <br />
                    Filière : Informatique et Electronique des Sytèmes Embarqués
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_profil/JT.jpg" alt=Photo_de_JT />
                <p>
                    <strong>Jean-théophane de Mulatier</strong><br>
                    Stagiaire
                    <br />
                    Filière : Informatique 
                </p>
            </div>
            <div class="personnel">
                <img src="" alt=Photo_de_Thomas />
                <p>
                    <strong>Brune Henry</strong><br>
                    Stagiaire
                    <br />
                    Filière : Technologies de l'Information pour la Santé
                </p>
            </div>
        </div>
    </div>
    http://www.ensaejunioretudes.com/notre-equipe/ bon exemple pour les image
</div>
<div class="green">
    <div class="wrapper">
        <h2>Qu'es ce qu'une Junior Entreprise?</h2>
        <p>
            Une Junior-Entreprise fonctionne comme une entreprise, sur le modèle d’un cabinet de conseil. Elle permet
            aux étudiants de réaliser des missions pour des professionnels moyennant rémunération.



            C'est est une association créée par des étudiants
            Elle doit permettre de mettre en relation les étudiants et les entreprises afin que celles-ci puissent
            proposer des projets rémunérés aux étudiants en leur permettant d'exploiter les connaissances acquises tout
            au long de leur cursus
            Ces projets doivent permettre soit de mettre en avant le savoir-faire des élèves acquis tout au long de leur
            cursus, soit d'apprendre grâce aux projets de nouvelles compétences utiles pour leur futur métier.
        </p>
    </div>
</div>

<div class="notre-ecole">
    <div class="wrapper">
        <h2>Polytech Grenoble</h2>
        <div class="flex">
            <div class="text-ecole wrapper">
                <p>
                    Polytech Grenoble (Originellement « ISTG »), fondée en 1983 se situe à saint Martin d’Hères, dans l’agglomération grenobloise.
                    Elle compte plus de 1100 étudiants dont 850 sont issus de classes préparatoires, d'IUT, de Licence scientifique et 250 de PeiP (Parcours des élèves ingénieurs Polytech), le cycle préparatoire partagé du réseau Polytech.
                    Polytech Grenoble fait partie des 13 écoles du réseau Polytech, et, depuis peu, membre de l’université Grenoble INP. Elle apporte des enseignements de qualité dans 7 domaines différents. 
                    
                </p>
                
                Elle possède également de nombreuses associations qui enrichissent grandement sa vie étudiante :
                <ul>
                    <li>un Bureau des Etudiants qui organise des soirées, des activités et la plupart des évènements</li>
                    <li>un Bureau des Sports qui gère toutes les activités sportives de l'école dont certaines en lien avec l'UGA</li>
                    <li>un Bureau des Arts qui regroupe toutes les disciplines artistiques comme la peinture, le cinéma, le théâtre, ...</li>
                    <li>et Linko qui permet aux étudiants d'avoir une première expérience du monde du travail</li>
                </ul>
            </div>
            <div class="wrapper">
                <img src="../../assets/img/Polytech_Grenoble_Presentation.jpg" alt="">
            </div>
        </div>
    </div>
</div>