<h1>Linko : La Junior Entreprise de Polytech Grenoble</h1>

<div class="membre-asso">
    <div class="wrapper">
        <h2>Présentation des membres de l'organisation</h2>
        <h1>Le Bureau</h1>
        <div class="bureau flex">
            <div class="personnel">
                <img src="../../assets/img/photo_corentin.jpg" alt=Photo_de_Corentin />
                <p>
                    Président
                    : Corentin Sueur
                    <br />
                    Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_kevin.jpg" alt=Photo_de_Kevin />
                <p>
                    Trésorier :
                    Kévin Cosotti
                    <br />
                    Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_killian.jpg" alt=Photo_de_Killian />
                <p>
                    Secrétaire
                    : Killian Pareilleux
                    <br />
                    Filière : Informatique
                </p>
            </div>
        </div>

        <h1> Lien avec les entreprises</h1>
        <div class="entreprises flex">
            <div class="personnel">
                <img src="../../assets/img/photo_alexis.jpg" alt=Photo_de_Alexis />
                <p>
                    Trésorier :
                    Alexis Lanquetin <br /> Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_jules.jpg" alt=Photo_de_Jules />
                <p>
                    Trésorier :
                    Jlies Gonzalez <br />
                    Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_bertrand.jpg" alt=Photo_de_Bertrand />
                <p>
                    Trésorier
                    : Bertrand Baudeur
                    <br />
                    Filière : Informatique
                </p>
            </div>
        </div>

        <h1> La Communication</h1>
        <div class="comm flex">
            <div class="personnel">
                <img src="../../assets/img/photo_yael.jpg" alt=Photo_de_Yael />
                <p>
                    Trésorier : Yael
                    Para <br />
                    Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_maelle.jpg" alt=Photo_de_Maelle />
                <p>
                    Trésorier :
                    Maelle Martinet
                    <br />
                    Filière : Technologies de l'Information pour la Santé
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_thomas.jpg" alt=Photo_de_Thomas />
                <p>
                    Responsable
                    Informatique : Thomas Buton
                    <br />
                    Filière : Informatique et Electronique des Systèmes Embarqués
                </p>
            </div>
        </div>
    </div>
</div>
<div class="green">
    <div class="wrapper">
        <h2>Principe d'une Junior Entreprise</h2>
        <p>
            Une Junior Entreprise est une association créée par des étudiants d'une école et ayant plusieurs objectifs.
            Elle doit permettre de mettre en relation les étudiants et les entreprises afin que celles-ci puissent
            proposer des projets rémunérés aux étudiants en leur permettant d'exploiter les connaissances acquises tout
            au long de leur cursus
            Ces projets doivent permettre soit de mettre en avant le savoir-faire des élèves acquis tout au long de leur
            cursus, soit d'apprendre grâce aux projets de nouvelles compétences utiles pour leur futur métier.
        </p>
    </div>
</div>
<div class="wrapper">
    <h2>Présentation de Polytech Grenoble</h2>
    <p>
        Polytech Grenoble est une école d'ingénieur qui forme les étudiants sur 3 ou 5 ans sur différentes spécialités
        Cette école fait partie d'un grand réseau d'écoles d'ingénieurs en France. Chaque école propose différentes
        formations.
        Polytech Grenoble en propose 7 au total :
    </p>
    <ul>
        <li>Informatique</li>
        <li>Technologies de l'Information pour la Santé</li>
        <li>Informatique et Electronique des Systèmes Embarqués </li>
        <li>Géotechnique et Génie Civil</li>
        <li>Matériaux</li>
        <li>Prévention des Risques</li>
        <li>Electronique et Informatique Industrielle</li>
    </ul>

</div>