<h1>Linko : La Junior Entreprise de Polytech Grenoble</h1>

<div class="admin-team green">
    <div class="wrapper">
        <h2>Présentation des membres de l'organisation</h2>
        <div class="flex">
            <div class="personnel">
                <img src="../../assets/img/photo_profil/Corentin.JPG" alt=Photo_de_Corentin />
                <p>
                    <strong>Corentin Sueur</strong><br>
                    Président
                    <br />
                    Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_profil/Kevin.JPG" alt=Photo_de_Kevin />
                <p>
                    <strong>Kévin Cosotti</strong><br>
                    Trésorier
                    <br />
                    Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_profil/Killian.JPG" alt=Photo_de_Killian />
                <p>
                    <strong>Killian Pareilleux</strong><br>
                    Secrétaire
                    <br />
                    Filière : Informatique
                </p>
            </div>

            <div class="personnel">
                <img src="../../assets/img/photo_profil/Alexis.JPG" alt=Photo_de_Alexis />
                <p>
                    <strong>Alexis Lanquetin</strong>
                    Chargé d'affaires
                    <br /> Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_profil/Jules.JPG" alt=Photo_de_Jules />
                <p>
                    <strong>Jules Gonzalez</strong><br>
                    Responsable Qualité
                    <br />
                    Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_profil/bertrand.JPG" alt=Photo_de_Bertrand />
                <p>
                    <strong>Bertrand Baudeur</strong><br>
                    Responsable développement commercial
                    <br />
                    Filière : Informatique
                </p>
            </div>


            <div class="personnel">
                <img src="../../assets/img/photo_profil/Yael.JPG" alt=Photo_de_Yael />
                <p>
                    <strong>Yael Para</strong><br>
                    Responsable communication
                    <br />
                    Filière : Informatique
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_profil/Maelle.JPG" alt=Photo_de_Maelle />
                <p>
                    <strong>Maelle Martinet</strong><br>
                    Vice-présidente
                    <br />
                    Filière : Technologies de l'Information pour la Santé
                </p>
            </div>
            <div class="personnel">
                <img src="../../assets/img/photo_thomas.jpg" alt=Photo_de_Thomas />
                <p>
                    <strong>Thomas Buton</strong><br>
                    Responsable Informatique
                    <br />
                    Filière : PD
                </p>
            </div>
        </div>
    </div>
    http://www.ensaejunioretudes.com/notre-equipe/ bon exemple pour les image
</div>
<div class="green">
    <div class="wrapper">
        <h2>Qu'es ce qu'une Junior Entreprise?</h2>
        <p>
            Une Junior-Entreprise fonctionne comme une entreprise, sur le modèle d’un cabinet de conseil. Elle permet
            aux étudiants de réaliser des missions pour des professionnels moyennant rémunération.



            C'est est une association créée par des étudiants
            Elle doit permettre de mettre en relation les étudiants et les entreprises afin que celles-ci puissent
            proposer des projets rémunérés aux étudiants en leur permettant d'exploiter les connaissances acquises tout
            au long de leur cursus
            Ces projets doivent permettre soit de mettre en avant le savoir-faire des élèves acquis tout au long de leur
            cursus, soit d'apprendre grâce aux projets de nouvelles compétences utiles pour leur futur métier.
        </p>
    </div>
</div>
<div class="wrapper">
    <h2>Présentation de Polytech Grenoble</h2>
    <p>
        Polytech Grenoble est une école d'ingénieur de Grenoble INP, Institut d’ingénierie et de management de
        l'Université Grenoble Alpes.

        L’école est membre du réseau Polytech, groupement de 15 écoles d’ingénieurs.

        Elle forme sur 7 filières sur deux cycles pour un total de 5 ans:
    </p>
    <ul>
        <li>
            <p>Le cycle préparatoire en deux ans (PEIP): forme des élèves bacheliers de bas S, STI2D et STL</p>
        </li>
        <li>le cycle ingénieur: recrutant des élèves du reseau polytech, de classes préparatoires CPGE</li>
    </ul>

    <!-- Polytech Grenoble en propose 7 au total : -->
    <ul>
        <li id="Info">Informatique</li>
        <li id="Tis">Technologies de l'Information pour la Santé</li>
        <li id="Iese">Informatique et Electronique des Systèmes Embarqués </li>
        <li id="Ggc">Géotechnique et Génie Civil</li>
        <li id="Mat">Matériaux</li>
        <li id="Pri">Prévention des Risques</li>
        <li id="E2i">Electronique et Informatique Industrielle</li>
    </ul>

</div>