<div class="competences dark-blue">

    <div class="wrapper">

        <div class="informatique">
            <h1>Informatique</h1>
            <ul>
                <li>Conception, développement et amélioration de logiciels</li>
            <li>Déploiement ou amélioration d’infrastructures réseaux</li>
            <li>Développement ou amélioration de modules multimédias</li>
            <li>Conception, développement et amélioration de sites web</li>
            <li>Création, maintien et amélioration de base de données</li> 
            </ul>
            
        </div>
        <div class="electronique">
            <h1>Electronique et systemes embarqués</h1>
            <ul>
                <li>Conception, prototypage et fabrication de systèmes électroniques</li>
                <li>Conception de systèmes communicants</li>
                <li>Création d’interfaces graphiques pour les systèmes électroniques</li>
            </ul>
            
        </div>

        <div class="tis">
            <h1>Technologie et santé</h1>
            <ul>
                <li>Conseil pour des solutions pour un système de santé</li>
                <li>Concevoir des systèmes d’informations, et former à leur usage</li>
                <li>Développement et intégration d’un dispositif médical</li>
                <li>Optimisation d’un système de soin</li>

            </ul>
        </div>

        <div class="pri">
            <h1>Prévention des risques</h1>
            <ul>
            <li>Evaluation des risques industriels et technologiques</li>
            <li>Evaluation des risques professionnels</li>
            <li>Evaluation des risques environnementaux et chimiques</li>
            <li>Révision du document unique</li>
            <li>Révision des systèmes de sécurité incendie</li>
            </ul>
        </div>


        <div>
            <h1>
                Télécharger nos plaquettes détaillées
            </h1>
            <ul>
                <li><a href="">Informatique</a></li>
                <li><a href="">Electronique et systemes embarqués</a></li>
                <li><a href="">Technologie et santé</a></li>
                <li><a href="">Prévention des risques</a></li>
            </ul>
        </div>

    </div>
</div>