<h1>Nos contacts</h1><br/>
<h2>Vous pouvez nous contacter sur la plupart des réseaux sociaux tels que :</h2>
<table>
    <tr>
        <td><strong><a href=Facebook.com>Facebook</a> </strong></td>
        <td><a href=Facebook.com><img src="../assets/img/FB2.png" alt=Facebook_Linko></a></td>
    </tr>

    <tr>
        <td><strong><a href=Linkedin.com>LinkedIn</a></strong></td>
        <td><a href=Linkedin.com><img src="../assets/img/LI2.png" alt=Linkedin_Linko></a></td>
    </tr>

    <tr>
        <td><strong><a href=Instagram.com>Instagram</a></strong></td>
        <td><a href=Instagram.com><img src="../assets/img/IG2.png" alt=Instagram_Linko></a></td>
    </tr>
</table>
<p>
    C'est à travers ces réseaux que nous allons principalement communiquer avec nos adhérents pour leur communiquer les différentes informations.
    C'est aussi pourquoi il est recommandé de nous suivre sur ces mêmes réseaux ou au moins sur un de ces réseaux (Facebook seul suffit).
</p>

<h2>Vous pouvez également nous contacter via d'autres moyens</h2>
<ul>
    <li>Vous pouvez nous envoyer un mail à cette adresse mail : </li>
    <li>Vous pouvez appeller ce numéro : </li>
    <li>Et pour plus d'informations vous pouvez toujours venir nous parler directement nous serons reconnaissables grâce à nos gilets</li>
</ul>
<br/>