table{
    font-size:20px;
    margin:auto;
}

p{
    font-size:20px;
    margin:auto;
    width:70%;
    min-width: 500px;
}

a{
    text-decoration: none;
    color:black;
    font-size:30px;
}

:required{
    background-color: red;
}

td{
    border: 1px none black;
    width:100px;
    text-align: center;
}

ul{
    font-size:20px;
    margin:auto;
    width:70%;
    min-width: 500px;
}