<app-banniere></app-banniere>

<div class="presentation">

    <div id="image-presentation">
        <div id="logo-deco">
            <img src="../assets/img/LinkoBleu-2Mpxpng.png" alt="Logo-Linko">
        </div>
    </div>
    <!-- on mettra quelques trucs de présentation ici-->

</div>

<div class="domaine-competences">
    <h2>Nos domaines de compétences</h2>
    <h3>Nous mettons en application nos acquis de notre cursus</h3>
</div>

<div class="notre-fonctionnement">
    <h2>mettre un genre de diagramme explicant comment on fonctionne pour les projets</h2>
</div>

<div class="notre-ecole">
    <h2>notre ecole</h2>
</div>

<app-footer></app-footer>