#presentation {
  background-color: #0f5257;
}

h1 {
  text-align: center;
}

h2 {
  font-size : 40px;
  min-width: 200px;
  text-align: center;
}

p
{
  margin: 50px;
  font-size: 30px;
  min-width: 200px;
  text-align: justify;
}

#image-presentation {
  width: 100%;
  height: 400px;
  background-image: url("../assets/img/fond.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000000;
  text-align: center;
}

#logo-deco {
  position: relative;
  display: inline;
  top: 50%;
  bottom: 50%;
}

#logo-deco img {
  width: 300px;
}
