<app-banniere></app-banniere>
<!--<app-accueil></app-accueil> utile ?-->
<h1>A la découverte de la Junior Entreprise de Polytech Grenoble</h1>
    <h2>Présentation des membres de l'organisation</h2>
        <li>
            <ul><img src="../../assets/img/photo_corentin.jpg"  alt=Photo_de_Corentin /> Président : Corentin Sueur <br/> Filière : Informatique</ul>
            <ul><img src="../../assets/img/photo_kevin.jpg" alt=Photo_de_Kevin /> Trésorier : Kévin Cosotti <br/> Filière : Informatique</ul>
            <ul><img src="../../assets/img/photo_killian.jpg" alt=Photo_de_Killian/> Secrétaire : Killian Pareilleux<br/> Filière : Informatique</ul>
            <ul><img src="../../assets/img/photo_alexis.jpg" alt=Photo_de_Alexis/> Trésorier : Alexis Lanquetin <br/> Filière : Informatique</ul>
            <ul><img src="../../assets/img/photo_jules.jpg" alt=Photo_de_Jules/> Trésorier : Jules Gonzalez <br/> Filière : Informatique</ul>
            <ul><img src="../../assets/img/photo_yael.jpg" alt=Photo_de_Yael/> Trésorier : Yael Para <br/> Filière : Informatique</ul>
            <ul><img src="../../assets/img/photo_bertrand.jpg" alt=Photo_de_Bertrand/> Trésorier : Bertrand Baudeur <br/> Filière : Informatique</ul>
            <ul><img src="../../assets/img/photo_maelle.jpg" alt=Photo_de_Maelle/> Trésorier : Maelle Martinet <br/> Filière : Technologies de l'Information pour la Santé </ul>
            <ul><img src="../../assets/img/photo_thomas.jpg" alt=Photo_de_Thomas/> Responsable Informatique : Thomas Buton <br/> Filière : Informatique et Electronique des Systèmes Embarqués</ul>
        </li>
    
    <h2>Qu'est-ce qu'une Junior Entreprise ?</h2>
        <p>Une Junior Entreprise est une association créée par des étudiants d'une école et ayant plusieurs objectifs. 
            Elle doit permettre de mettre en relation les étudiants et les entreprises afin que celles-ci puissent proposer des projets rémunérés aux étudiants en leur permettant d'exploiter les connaissances acquises tout au long de leur cursus
            Ces projets doivent permettre de mettre en avant
        </p>

    <h2>Présentation de notre chère école (au cas où vous ne la connaîtriez pas)</h2>
        <p>Polytech Grenoble est une école d'ingénieur qui forme les étudiants sur 3 ou 5 ans sur différentes spécialités</p>
<app-footer></app-footer>