<app-banniere></app-banniere>

    <h2>Les Différentes Etapes des Projets</h2>
    <p>Tout d'abord, il faut savoir que les projets seront confiés à des équipes d'élèves selon leur filière, leur année d'étude et leurs compétences.
        L'avancée de chaque projet sera régulièrement contrôlée pour éviter les retards ou les manquements. <br/>
        <strong>Attention il n'y aura pas forcément des projets pour toutes les filières, certaines seront potentiellement favorisées par rapport à d'autres !</strong>
        Cependant pour remédier à cela nous avons besoin de plus de personnes au sein de l'organisation de Linko avec si possible une personne de chaque filière. <br/>
        Lorsqu'une entreprise entre en contact avec nous, le chargé d'affaires devient le contact privilégié de l’entreprise : il cerne les besoins, les compétences requises, les moyens à mettre en oeuvre et les délais, puis fournit un devis gratuit détaillant les différentes phases, le planning de l’étude et toutes les modalités. <br/>
        Ensuite si le devis convient aux deux parties, alors le projet sera confié à un ou plusieurs élèves ingénieurs de Polytech Grenoble en fonction de la demande. <br/>
        Enfin, le projet sera ensuite surveillé de près par un responsable qualité qui se chargera de contrôlé que le projet corresponde bien au cahier des charges et qu'il soit réalisé dans le temps imparti. <br/>
        Linko se chargera de toutes les démarches administratives et autres procédures pour laisser les étudiants se plonger complètement dans leur projet respectif.
    </p>


    <h2>Le Recrutement</h2>
    <p>Pour élargir notre influence et faire perdurer notre association, nous avons besoin de recruter du monde. En effet, pour pouvoir proposer des projets aux différentes filières de notre école, il nous faut impérativement au moins une personne de chaque filière.
        Pour rejoindre Linko, voici la démarche à suivre :
        <li>
            <ol>Lire le <a href="../../assets/RI.pdf">Règlement Intérieur</a> et adhérer à Linko. Si vous adhérer à Linko, cela veut dire que vous pourrez participer aux Assemblée Générale Extraordinaires qui auront parfois lieu.</ol>
            <ol>Envoyer votre CV à cette <a href=adresse_mail>adresse mail</a>. Il sera examiné et en fonction des différents critères, nous statuerons sur le résultat définitif.</ol>
            <ol>Attendre une réponse (normalement c'est assez rapide). Si la réponse est positive, des indications seront envoyées pour continuer la procédure de recrutement.</ol>
        </li>    
    </p>

<app-footer></app-footer>