<header>

<div id="banniere">
    <div id="logo">
        <a href="" >
        <img src="../../assets/img/LinkoBleu-2Mpxpng.png" alt="Logo Linko">
        </a>
    </div>
    <div id="banniere-permanente">

        
        <nav>
            <a href = "" >Accueil</a>
            <a href = "" >Nous découvrir</a>
            <a href = "" >Étudiants</a>
            <a href = "" >Contact</a>
        </nav>
        
        <div id="devis">
            <a href="">
                Demander un devis
            </a>
        </div>
    </div>
    
</div>

</header>
