<header>
  <div class="flex" id="banniere">
    <div class="container" id="logo">
      <a routerLink="">
        <img src="../../assets/img/LinkoBleu-2Mpxpng.png" alt="Logo Linko" />
      </a>
    </div>

    <nav class="container">
      <a routerLink="">Accueil</a>
      <a routerLink="nous-decouvrir">Nous découvrir</a>
      <a routerLink="etudiant">Étudiants</a>
      <a routerLink="contact">Contact</a>
    </nav>

    <div class="container">
      <div id="devis">
        <a routerLink="">
          <fa-icon [icon]="faFileAlt"></fa-icon>
          Demander un devis
        </a>
      </div>
    </div>
  </div>
</header>

<div id="space"></div>
