header {
  background-color: white;
  width: 100%;
  margin: 0;
  position: fixed;
  /* line-height: 60px; */
  height: 60px;
  color: #22427c;
  z-index: 9999;
}

#space {
  height: 60px;
}

#banniere {
  padding: 0px 40px;
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  height: inherit;
}

#banniere > * {
  height: inherit;
}

.container {
  display: inline-block;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  max-height: 60px;
  height: inherit;
  /* ça ne va pas ça, on ne peut pas mettre inherit je comprend pas pq
  de meme il ne s'aligne pas avec la banniere */
}

nav a {
  display: inline-block;
  height: 50%;
  padding: 0 20px;
  text-align: center;
  transition-property: color, box-shadow;
  transition-duration: 250ms;
  box-shadow: 0px;
  margin: 3px;
}

nav a:hover {
  color: #26c4ec;
  box-shadow: 0px 3px 8px #22427c;
}

#devis {
  display: inline-block;
  height: 50%;
  line-height: calc(attr(height));
  border-radius: 5px;
  padding: 4px 10px;
  background-color: #26c4ec;
  color: white;
  transition-property: background;
  transition-duration: 250ms;
}

#devis:hover {
  background-color: #22427c;
}

#devis img {
  height: 60%;
  line-height: calc(attr(height));
}
