header {
  background-color: #050506;
  width: 100%;
  margin: 0;
  position: fixed;
  line-height: 60px;
  height: 60px;
  color: white;
}

a:any-link {
  color:inherit ;
  text-decoration: none;
}

#banniere {
  padding: 0px 40px;
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

#banniere > * {
  height: inherit;
}

.container {
  display: inline-block;
  /* border: 1px solid red; */
  height: inherit;
}

#logo img {
  position: relative;
  top: 10%;
  height: 80%;
}

nav a {
  display: inline-block;
  height: inherit;
  padding: 0 20px;
  transition-property: color;
  transition-duration: 250ms; 
}

nav a:hover {
  color: #26c4ec;
  /* transition:250ms ease-in-out; */
}

#devis {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-top: -15px;
  position: relative;
  border-radius: 5px;
  padding: 4px 10px;
  background-color: #26c4ec;
  transition-property: background;
  transition-duration: 250ms; 
}

#devis:hover{
  background-color: #22427C;
}

#devis img {
  height: 70%;
  line-height: inherit;
}

#space {
  height: 70px;
}
