<header>

    <div class="container" id="banniere">
        <div class="container" id="logo">
            <a href="">
                <img src="../../assets/img/LinkoBleu-2Mpxpng.png" alt="Logo Linko">
            </a>
        </div>


        <nav class="container">
            <a href="">Accueil</a>
            <a href="">Nous découvrir</a>
            <a href="">Étudiants</a>
            <a href="">Contact</a>
        </nav>




        <div class="container">
            <div id="devis">
                <a href="">
                    <img src="../../assets/img/paper.svg" alt="papier">
                    Demander un devis
                </a>
            </div>
        </div>
    </div>

</header>

<div id="space"></div>