h2 {
  font-size: 40px;
  color: #00ff9d;
  min-width: 300px;
}
/* 
strong {
  font-weight: normal;
  text-decoration: underline;
} */

/* form {
  margin: auto;
} */

h3 {
  text-align: center;
}

#postes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tabs {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  background: #000;
  display: inline-block;
  color: #fff;
  min-width: 150px;
  flex-direction: column;
  flex-shrink: 1;
}


.radio {
  display: none;
}

.pannels-postes {
  flex-grow: 2;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.panel-title {
  font-size: 1.5em;
  font-weight: bold;
}

.radio:nth-of-type(1):checked ~ #panel-postes > .panel:nth-of-type(1),
.radio:nth-of-type(2):checked ~ #panel-postes > .panel:nth-of-type(2),
.radio:nth-of-type(3):checked ~ #panel-postes > .panel:nth-of-type(3),
.radio:nth-of-type(4):checked ~ #panel-postes > .panel:nth-of-type(4),
.radio:nth-of-type(5):checked ~ #panel-postes > .panel:nth-of-type(5),
.radio:nth-of-type(6):checked ~ #panel-postes > .panel:nth-of-type(6),
.radio:nth-of-type(7):checked ~ #panel-postes > .panel:nth-of-type(7),
.radio:nth-of-type(8):checked ~ #panel-postes > .panel:nth-of-type(8),
.radio:nth-of-type(9):checked ~ #panel-postes > .panel:nth-of-type(9) {
  display: block;
}

.radio:nth-of-type(1):checked ~ .tabs > .tab:nth-of-type(1),
.radio:nth-of-type(2):checked ~ .tabs > .tab:nth-of-type(2),
.radio:nth-of-type(3):checked ~ .tabs > .tab:nth-of-type(3),
.radio:nth-of-type(4):checked ~ .tabs > .tab:nth-of-type(4),
.radio:nth-of-type(5):checked ~ .tabs > .tab:nth-of-type(5),
.radio:nth-of-type(6):checked ~ .tabs > .tab:nth-of-type(6),
.radio:nth-of-type(7):checked ~ .tabs > .tab:nth-of-type(7),
.radio:nth-of-type(8):checked ~ .tabs > .tab:nth-of-type(8),
.radio:nth-of-type(9):checked ~ .tabs > .tab:nth-of-type(9) {
  background: #fffffff6;
  color: #000;
}
