<div class=gris>
    <div class=wrapper>
    <h2>Les Différentes Etapes des Projets</h2>
    <p>Tout d'abord, il faut savoir que les projets seront confiés à des équipes d'élèves selon leur filière, leur année d'étude et leurs compétences.
        L'avancée de chaque projet sera régulièrement contrôlée pour éviter les retards ou les manquements. <br/>
        <strong>Attention il n'y aura pas forcément des projets pour toutes les filières, certaines seront potentiellement favorisées par rapport à d'autres !</strong>
        Cependant pour remédier à cela nous avons besoin de plus de personnes au sein de l'organisation de Linko avec si possible une personne de chaque filière. <br/>
        Lorsqu'une entreprise entre en contact avec nous, le chargé d'affaires devient le contact privilégié de l’entreprise : il cerne les besoins, les compétences requises, les moyens à mettre en oeuvre et les délais, puis fournit un devis gratuit détaillant les différentes phases, le planning de l’étude et toutes les modalités. <br/>
        Ensuite si le devis convient aux deux parties, alors le projet sera confié à un ou plusieurs élèves ingénieurs de Polytech Grenoble en fonction de la demande. <br/>
        Enfin, le projet sera ensuite surveillé de près par un responsable qualité qui se chargera de contrôler que le projet corresponde bien au cahier des charges et qu'il soit réalisé dans le temps imparti. <br/>
        Linko se chargera de toutes les démarches administratives et autres procédures pour laisser les étudiants se plonger complètement dans leur projet respectif.
    </p>


    <h2>Le Recrutement</h2>
    <p>Pour élargir notre influence et faire perdurer notre association, nous avons besoin de recruter du monde. En effet, pour pouvoir proposer des projets aux différentes filières de notre école, il nous faut impérativement au moins une personne de chaque filière.
        Pour rejoindre Linko, voici la démarche à suivre :
    </p>
        <ol>
            <li>Lire le <a href="../../assets/RI.pdf">Règlement Intérieur</a> et adhérer à Linko. Il est impératif de lire le Règlement Intérieur (même pour les adhérents) car il vous engage à certaines responsabilités.</li>
            <li>Répondre au formulaire qui suit (En cours de préparation).
            <li>Attendre une réponse à l'adresse mail renseignée dans le formulaire</li>
        </ol> 
        <br/>

        <!-- <h3>Fomulaire de recrutement</h3>

        <form (ngSubmit)="onSubmit(f)" #f ngForm>
            <p>
            <label for="prenom"> Prénom : </label><input type="text" name="prenom" id="prenom" size="30" maxlength="30" required ngModel/><br/>
            <label for="nom"> Nom : </label><input type="text" name="nom" id="nom" size="30" maxlength="30" required ngModel/><br/>
            <label for="mail"> E-mail : </label><input type="email" name="mail" id="mail" size="30" required ngModel/><br><br/>
            <strong>Votre filière :</strong><br/>
            <input type="radio" name="filiere" value ="info" id="info" ngModel/><label for="info">Informatique</label><br/>
            <input type="radio" name="filiere" value ="iese" id="iese" ngModel/><label for="iese">Informatique et Electronique des Systèmes Embarqués</label><br/>
            <input type="radio" name="filiere" value ="tis" id="tis" ngModel/><label for="tis">Technologies de l'Information pour la Santé</label><br/>
            <input type="radio" name="filiere" value ="ggc" id="ggc" ngModel/><label for="ggc">Géotechnique et Génie Civil</label><br/>
            <input type="radio" name="filiere" value ="mat" id="mat" ngModel/><label for="mat">Matériaux</label><br/>
            <input type="radio" name="filiere" value ="pri" id="pri" ngModel/><label for="pri">Prévention des Risques</label><br/>
            <input type="radio" name="filiere" value ="e2i" id="e2i" ngModel/><label for="e2i">Electronique et Informatique Industrielle</label><br/>
            <br/>
            <strong>Votre année d'étude :</strong><br/>
            <input type="radio" name="annee" value ="3" id="3" ngModel/><label for="3">3</label><br/>
            <input type="radio" name="annee" value ="4" id="4" ngModel/><label for="4">4</label><br/>
            <input type="radio" name="annee" value ="5" id="5" ngModel/><label for="5">5</label><br/>
            Si autre : (Précisez) <input type="number" name="annee" id="annee" ngModel/><label for="annee"></label><br/>
            <button class="btn btn-primary" type="submit">Enregistrer</button>
            </p>
        </form> -->

        
    </div>
</div>
