h2{
    font-size: 40px;
    color: #00ff9d;
    min-width: 300px;
}

strong{
    font-weight: normal;
    text-decoration: underline;
}

form{
    margin:auto;
}

h3{
    font-size:20px;
    text-align: center;
}