h2 {
  font-size: 40px;
  color: #00ff9d;
  min-width: 300px;
}

strong {
  font-weight: normal;
  text-decoration: underline;
}

form {
  margin: auto;
}

h3 {
  font-size: 20px;
  text-align: center;
}

#liste-postes {
  flex-direction: column;
  flex-shrink: 1;
  list-style: none;
  text-align: center;
  padding: 0;
}

#liste-postes li {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  box-sizing: border-box;
  border: 3px solid gray;
  background-color: gainsboro;
}

.explanation-poste {
  flex-grow: 2;
  display: inline-block;
  margin: auto 0;
}
