<h1>Nos contacts</h1>
<div id="formulaire">
  <h2>Formulaire de contact</h2>

  <form>
    <p>
      <label for="prenom">Nom : </label>
      <input
        type="text"
        name="prenom"
        id="prenom"
        size="30"
        maxlength="30"
        required
        ngModel
      />
    </p>
    <br />
    <!-- attention au noms des champs, c'est nimp ici -->
    <p>
      <label for="nom">Nom de la société: </label>
      <input
        type="text"
        name="nom"
        id="nom"
        size="30"
        maxlength="30"
        required
        ngModel
      />
    </p>
    <br />
    <p>
      <label for="mail">E-mail : </label>
      <input type="email" name="mail" id="mail" size="30" required ngModel />
    </p>
    <br />
    <p>
      <label for="tel">Tel : </label>
      <input type="tel" name="tel" id="tel" size="30" required ngModel />
    </p>
    <br />
    <p>
      <label>Votre structure : </label>
      <select>
        <option>New York</option>
        <option>Bucharest</option>
        <option>Madrid</option>
      </select>
    </p>
    <br />
    <p>
      <label>Comment avez vous entendu parler de nous : </label>
      <select>
        <option>New York</option>
        <option>Bucharest</option>
        <option>Madrid</option>
      </select>
    </p>
    <br />
    <input class="btn btn-primary" type="submit" value="Envoyer" />
  </form>
</div>

<hr />

<div id="social">
  <h2>
    Vous pouvez nous contacter sur la plupart des réseaux sociaux tels que :
  </h2>

  <ul>
    <li>
      <a><fa-icon [icon]="faLinkedin"></fa-icon></a>
    </li>
    <li>
      <a><fa-icon [icon]="faFacebookSquare"></fa-icon></a>
    </li>
    <li>
      <a><fa-icon [icon]="faInstagram"></fa-icon></a>
    </li>
  </ul>

  <p>
    C'est à travers ces réseaux que nous allons principalement communiquer avec
    nos adhérents pour leur communiquer les différentes informations. C'est
    aussi pourquoi il est recommandé de nous suivre sur ces mêmes réseaux ou au
    moins sur un de ces réseaux (Facebook seul suffit).
  </p>
</div>

<hr />

<div id="other">
  <h2>Vous pouvez également nous contacter via d'autres moyens</h2>
  <ul>
    <li>
      <h3><fa-icon [icon]="faPhone"></fa-icon> Appeler nous</h3>
      <p>Vous pouvez nous appeller aux : 04xxxxxxxx</p>
    </li>
    <li>
      <h3><fa-icon [icon]="faComment"></fa-icon> Rencontrez nous</h3>
      <p>
        14 Place du Conseil National de la Résistance, 38400
        Saint-Martin-d'Hères
      </p>
    </li>
  </ul>
</div>
