.contact {
  flex-wrap: nowrap;
}

.contact img {
  max-width: 40%;
  object-fit: cover;
}

.contact .formout {
  margin: 0;
}

.line {
  width: 100%;
  /* border: 1px solid red; */
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
}

.line label {
  display: inline-block;
  width: 100%;
  padding: 3px;
}

.line input,
.line select {
  box-sizing: inherit;
  /* ça fait faire des trucs étranges */
  width: 100%;
  padding: 3px;
  height: 30px;
  border: 0;
  box-shadow: 0px 0px 2px gray;
}

.line input:focus {
  box-shadow: 0px 0px 5px gray;
  border: 2px solid gray;
}

.line button {
  float: right;
  min-width: 30%;
  min-height: 30px;
  background-color: var(--bleu-clair);
  border: none;
  border-radius: 5px;
  color:white;
  transition-property: transform;
  transition-duration: 150ms;
}

button:hover {
  box-shadow: 0px 0px 2px gray;
  transform: scale(1.1);
}
