h1 {
  margin-top: 5%;
  margin-bottom: 5%;
}

p {
  font-size: 20px;
  margin: auto;
  width: 70%;
  min-width: 500px;
}

h2 {
  border-radius: 5px;
  width: 75%;
  margin: auto;
  margin-bottom: 2%;
}

/* FORMULAIRE */

#formulaire {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 2%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: solid 1px black;
}

#formulaire input {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%;
}

#formulaire input[type="submit"] {
  background-image: linear-gradient(to right, #22427c, #26c4ec);
  text-align: center;
  border: none;
  cursor: pointer;
  margin: auto;
  width: 100%;
}

/* OTHER DIV STYLE */

#other {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 75%;
}

#other ul {
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

#other ul li {
  font-size: 20px;
  width: 50%;
}

/* SOCIAL DIV STYLE */

#social {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 75%;
}

#social ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

#social ul li a {
  font-size: 100px;
}

#social ul li a:hover {
  color: grey;
  cursor: pointer;
}

#social p {
  text-align: justify;
}
