/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

h1 {
  text-align: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 40px;
  min-width: 200px;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  padding: 20px 20px;
  max-width: 1200px;
  border: 1px solid red;
}

/* mettre un z indez plus grand pour la banniere, le logo passe dessus */

.flex {
  display: flex;
  justify-content: space-around;
}

.green {
  background-color: #2d3142;
  color: white;
}

.dark-blue {
  background: #adacb5;
}