<div class="presentation">

    <div id="image-presentation">
        <div id="logo-deco">
            <img src="../assets/img/icon/LinkoBleu-2Mpxpng.png" alt="Logo-Linko">
        </div>
    </div>
    <!-- on mettra quelques trucs de présentation ici-->

</div>
<div class="domaine-de-competences">
    <div class="wrapper">
        <h2>Notre domaine de compétence</h2>

        <div class="logo-competences">
            <div class="domaine">
                <p>Informatique</p>
                <a routerLink="domaine-de-competence">
                    <img src="../../assets/img/icon/develop.svg" alt="">
                </a>
            </div>

            <div class="domaine">
                <p>Electronique</p>
                <img src="../../assets/img/icon/chip.svg" alt="">

            </div>
            <div class="domaine">
                <p>Santé</p>
                <img src="../../assets/img/icon/computer.svg" alt="">
            </div>
        </div>

        <h3>Nous mettons en application les acquis de notre cursus</h3>
    </div>
</div>

<div class="notre-demarche wrapper">
        <h2>Procédure de mise en place et de réalisation des projets</h2>
        <img src="../../assets/img/demarche2.jpg" alt="">
</div>
