<div class="presentation">

    <div id="image-presentation">
        <div id="logo-deco">
            <img src="../assets/img/LinkoBleu-2Mpxpng.png" alt="Logo-Linko">
        </div>
    </div>
    <!-- on mettra quelques trucs de présentation ici-->

</div>
<div class="domaine-de-competences green">
    <div class="wrapper">
        <h2>Notre domaine de compétence</h2>

        <div class="logo-competences">
            <div class="domaine">
                <p>Informatique</p>
                <a routerLink="domaine-de-competence">
                    <img src="../../assets/img/develop.svg" alt="">
                </a>
            </div>

            <div class="domaine">
                <p>Electronique</p>
                <img src="../../assets/img/chip.svg" alt="">

            </div>
            <div class="domaine">
                <p>Santé</p>
                <img src="../../assets/img/computer.svg" alt="">
            </div>
        </div>

        <h3>Nous mettons en application les acquis de notre cursus</h3>
    </div>
</div>

<div class="notre-fonctionnement dark-blue">
    <div class="wrapper">
        <h2>mettre un genre de diagramme explicant comment on fonctionne pour les projets</h2>
        <p>Ultima Syriarum est Palaestina per intervalla magna protenta, cultis abundans terris et nitidis et civitates
            habens quasdam egregias, nullam nulli cedentem sed sibi vicissim velut ad perpendiculum aemulas: Caesaream,
            quam ad honorem Octaviani principis exaedificavit Herodes, et Eleutheropolim et Neapolim itidemque Ascalonem
            Gazam aevo superiore exstructas.</p>
    </div>
</div>
<div class="notre-ecole">
    <div class="wrapper">
        <h2>Polytech Grenoble</h2>
        <div class="flex">
            <div class="text-ecole">
                <p>
                    Membre du réseau Polytech et, depuis peu, membre du réseau des INP, Polytech Grenoble se classe comme une excellente 
                    école d'ingénieur. Elle apporte des enseignements de qualité dans différents domaines et en particulier celui du numérique. En effet,
                    plusieurs formations sont directement concernées par les nouvelles technologies, ce qui fait de Polytech Grenoble une 
                    école moderne et influente.
                </p>
                <p>
                    Située à Saint-Martin-d'Hères, elle possède également de nombreux partenariats avec des entreprises locales. 
                    Ces entreprises ont la possibilité de venir une fois par an pour rencontrer les élèves et inversement. Cet 
                    évènement s'appelle la Journée Polytech Pro et a pour but de créer un premier contact entre les élèves 
                    et le monde du travail.
                </p>
                <p> Elle possède également de nombreuses associations qui enrichissent grandement sa vie étudiante :
                </p>
                <ul>
                    <li>un Bureau des Etudiants qui organise des soirées, des activités et la plupart des évènements</li>
                    <li>un Bureau des Sports qui gère toutes les activités sportives de l'école dont certaines en lien avec l'UGA</li>
                    <li>un Bureau des Sports de Montagne qui organise des sorties sportives en montagne. Cette association fait, depuis peu, partie intégrante du Bureau des Sports</li>
                    <li>un Bureau des Arts qui regroupe toutes les disciplines artistiques comme la peinture, le cinéma, le théâtre, ...</li>
                </ul>
                <p>
                    Parmi toutes ces associations, il ne manquait plus qu'une association comme Linko pour également permettre aux étudiants
                    de montrer l'étendue de leur capacité. En effet, nous serons leur premier lien entre les étudiants friands de nouvelles
                    expériences et les entreprises désireuses de nous faire confiance.
                </p>
            </div>
            <div id="image">
                <img src="../../assets/img/Polytech_Grenoble_Presentation.jpg" alt="">
                <img src="../../assets/img/popo3.png" alt="">
                <img src="../../assets/img/popo2.jpg" alt="">
            </div>
        </div>
    </div>
</div>