#presentation {
  background-color: #0f5257;
}

#image-presentation {
  width: 100%;
  height: 400px;
  background-image: url("../../assets/img/fond.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000000;
  text-align: center;
}

#logo-deco {
  position: relative;
  display: inline;
  top: calc(50% - 50px / 2);
}

#logo-deco img {
  width: 300px;
}

.logo-competences {
  display: flex;
  justify-content: space-around;
}

.domaine-de-competences p{
  font-size: larger;
}

.domaine {
  width: 250px;
  border: 1px solid white;
  text-align: center;
}

.domaine img {
  width: 70%;
  filter: invert(100%);
  padding: 5%;
}

.notre-ecole {
  display: flex;
  justify-content: space-between;
}

.text-ecole {
  display: inline-block;
  width: 50%;
  min-width: 500px;
  border: 1px solid red;
}

h3{
  text-align: center;
}

p{
  margin-left: 10px;
  margin-right: 10px;
  text-align:justify;
}

.domaine p{
  text-align: center;
}

.notre-ecole img{
  display: inline-block;
}

#image{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  width: 50%;
  max-width: 500px;
}