#presentation {
  background-color: #0f5257;
}

#image-presentation {
  width: 100%;
  height: 400px;
  background-image: url("../../assets/img/fond.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000000;
  text-align: center;
}

#logo-deco {
  position: relative;
  display: inline;
  top: calc(50% - 50px / 2);
}

#logo-deco img {
  width: 300px;
}

.logo-competences {
  display: flex;
  justify-content: space-around;
}

.domaine-de-competences p {
  font-size: larger;
}

.domaine {
  width: 250px;
  border: 1px solid white;
  text-align: center;
}

.domaine img {
  width: 70%;
  filter: invert(100%);
  padding: 5%;
}

.notre-ecole {
  display: flex;
  justify-content: space-between;
}

.text-ecole {
  display: inline-block;
  width: 50%;
  /* border: 1px solid red; */
}
